In [2]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

1 -One tailed t-test - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

In [66]:
machine = pd.read_csv('machine.csv', encoding='UTF-8', sep=";")
machine.head()
oldmachine = machine["Old machine"].mean()
machine["New machine\t"].mean()

42.14

In [67]:
st.ttest_1samp(machine["New machine\t"],oldmachine)

Ttest_1sampResult(statistic=-5.04331853503833, pvalue=0.0006966376076759033)

In [36]:
st.ttest_ind(machine['New machine\t'], machine['Old machine'], equal_var=False)

Ttest_indResult(statistic=-3.397230706117603, pvalue=0.0032422494663179747)

In [32]:
#the new machine is best then the older

Ttest_1sampResult(statistic=-3.9791320551678417, pvalue=0.003210007128462494)

2 - Matched Pairs Test - In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.

In [41]:
pokemon = pd.read_csv('pokemon.csv')
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [64]:
print( "p-value is ", st.ttest_rel(pokemon['Defense'], pokemon['Attack'])[1])

p-value is  1.7140303479358558e-05

In [ ]:
# I reject the null hypotesis, they are not equal

## OPTIONAL PART | Inferential statistics - ANOVA

Part 1
In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

Context
Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder

In [82]:
anova = pd.read_excel('anova_lab_data.xlsx')
anova.head(15)
#anova.columns

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

### State the null hypothesis

In [ ]:
#The means of etching rate of different power is equal

### State the alternate hypothesis

In [ ]:
#The means of etching rate of different power is not equal equal

### What is the significance level

In [ ]:
#I will use the significant level of 0.5

### What are the degrees of freedom of model, error terms, and total DoF

In [48]:
#I understood that degrees of freedom will be number of independent values â€“ number of statistics
# in this case I think is 15 - 3(number of my variables) = 12

### Part 2
In this section, use the Python to conduct ANOVA.
What conclusions can you draw from the experiment and why?

In [83]:
anova['power_count'] = anova.groupby("Power ").cumcount()##is the new index 
anova_pivot = anova.pivot(index="power_count", columns= "Power ", values='Etching Rate')
anova_pivot.head(10)

Power        160 W  180 W  200 W
power_count
0             5.43   6.24   8.79
1             5.71   6.71   9.20
2             6.22   5.98   7.90
3             6.01   5.66   8.15
4             5.59   6.60   7.55

In [87]:
st.f_oneway(anova_pivot['160 W'],anova_pivot['180 W'],anova_pivot['200 W'])[1]

7.506584272358903e-06

In [ ]:
#I reject my null hypotesis, the mean is not the s